body {
    text-align: center;
    align-items: center;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    background-attachment: fixed;
    padding: 0 10px 0 10px;
    margin: 200px;
    line-height: 1.3 !important;
}

span {
    margin-bottom: 10%;
}

h1 {
    color: white !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

h2 {
    color: white !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-style: italic;
}

svg {
    align-self: center;
    transform: scale(1.5);
}

li,
a,
button {
    font-size: 25px;
    font-weight: 500;
    color: white;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 5%;
}

.logo {
    align-self: flex-start;
    margin-right: auto;
}

.nav-link {
    list-style: none;
}

.nav-link li {
    display: inline-block;
    padding: 0 20px;
}

.nav-link li a {
    transition: all 0.3s ease 0s;
    color: white
}

.nav-link li a:hover {
    color: blue;
}

button {
    padding: 10x 25px;
    transition: all 0.3s ease 0s;
    color: red;
    background-color: rgba(93, 12, 255, 1);
}

button:hover {
    background-color: rgb(43, 8, 113);
}

.todolistbody {
    padding-top: 5%;
}

.header {
    text-align: end;
    padding: 1%;
    font-size: 18px;
}

.allTodo {
    display: flex;
    padding-top: 4%;
    justify-content: space-between;
    flex-direction: row;
    margin: 0 20% 0 20%;
}

.inputForm {
    padding-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.input {
    width: 50% !important;
    height: 50px;
    margin-right: 10px !important;
    border-radius: 10px !important;
    border-color: transparent !important;
}

.button-add {
    background-color: rgba(93, 12, 255, 1) !important;
    width: auto;
    height: 50px;
    color: white !important;
    font-size: 25px;
    font-weight: 600;
    border-radius: 10px !important;
    border-color: transparent !important;
    cursor: pointer;
}

.button {
    color: white !important;
    font-weight: bold !important;
    border-color: transparent !important;
    border-radius: 10px !important;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    .delete {
        background-color: rgb(252, 172, 0) !important;
        color: rgb(22, 22, 22) !important;
        cursor: pointer;
    }
    .complete {
        background-color: rgb(60, 86, 201) !important;
        color: white !important;
        cursor: pointer;
    }
    .button-add:hover {
        background-color: rgba(255, 118, 20, 1) !important;
        color: white !important;
        border-color: transparent !important;
        cursor: pointer;
    }
}

.todo {
    margin: auto;
    text-align: left;
    color: white;
    font-size: 12px;
    margin-top: 10px;
    width: 300px;
    height: fit-content;
    border-radius: 5px;
    padding: 10px;
    font-weight: 500;
    transition: 0.5s ease;
    flex-direction: column;
    .todoStatus {
        justify-content: space-between;
        display: flex;
        flex-direction: row;
    }
    &:hover {
        filter: grayscale(10%);
        transform: scale(1.2);
        transition: 0.5s;
    }
    &:nth-child(2n+1) {
        background: linear-gradient(90deg, rgba(93, 12, 255, 1) 0%, rgba(155, 0, 250, 1) 70%);
    }
    &:nth-child(2n+2) {
        background: linear-gradient(90deg, rgba(255, 118, 20, 1) 0%, rgba(255, 84, 17, 1) 100%);
    }
}